name: test-clang-format
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: DoozyX/clang-format-lint-action@v0.16.2
      with:
        exclude: './dependencies'
        extensions: 'hpp,cpp'
        clangFormatVersion: 16
